<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/zoomzoom1968">Jet Collado</a>. He is a machinist by trade who is interested in learning how to write code, create web, mobile, and pc applications.
  <br />
  <p>
    The first stop in his journey was The Firehose Project.  There, through the help and support of the Firehose Project staff, his mentors, and his fellow students, Jet began to acquire the necessary skills that would enable him to become a a full-fledged software developer.
    <br />
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jet Collado</h2>
      <br />
      <p>
        Jet has had the privilege of being a member of the United States Air Force.  Now, as a machinist, Jet is learning for the first time how to writre code. 
      </p>
    </div>
  </div>
  
<br class="clear" />
<br />
<br />
<br />
<br />